---
navigation:
- Home
- About
---
<nav role="navigation">
  <ul class="nav">
  <li>
    <a{{#is title "Home"}} class="active"{{/is}} href="index.html">Home</a>
  </li>
  <li>
    <a{{#is title "About"}} class="active"{{/is}} href="about.html">About</a>
  </li>
  </ul>
</nav> 
